body {
  padding: 10px;
}

.card-wrapper {
  width: 300px;
  margin: 10px;
}

.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
